:root {
  --background: #fdfffd;
  --foreground: #051c20;
  --color-1: #03634E;
  --color-2: #f4f4e9;
  --color-3: #25171A;
  --color-4: #E9724C;
  --color-5: #56494E;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-source-sans-3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 2px solid var(--color-3);
  background-color: var(--color-1);
}

header>div {
  color: var(--background);
  font-family: var(--font-source-sans-3);
  font-weight: 600;
  font-size: 3rem;
  padding: 10px 20px;
  text-align: center;
}

header svg {
  max-width: 2.5rem;
}

main>div {
  padding: 0 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  border-top: 2px solid var(--color-5);
  background-color: var(--color-1);
  color: var(--background);
  font-family: var(--font-source-sans-3);
  font-weight: 600;
  font-size: 0.9rem;
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.max1000,
.max1400 {
  margin: 0 auto;
}

.max1000 {
  max-width: 1000px;
}

.max1400 {
  max-width: 1400px;
}

.button {
  background-color: var(--color-3);
  border: none;
  border-radius: 2px;
  color: var(--background);
  display: inline-block;
  font-weight: 600;
  padding: 8px 10;
  margin: 16px 0;
}