.search {
  margin: 20px auto 40px;
  text-align: center;
}

.search input {
  background-color: var(--color-2);
  border-radius: 10px;
  color: var(--foreground);
  border: 1px solid var(--color-4);
  padding: 6px 4px;
  margin-right: 10px;
  width: 500px;
  max-width: calc(100% - 76px);
}